extend layout

block content
    if temps
        each temp in temps
            div 公司:#{temp.company} 封头:#{temp.type} 数量:#{temp.number} 价格:#{temp.price} 进货时间:#{temp.time}                
    div.container
        form(action="", method="post")
            div
                input(name='hiddenId' type="hidden" value="#{inputid}")
            div
                p 公司
                input(name='company' type="text" required="required")
            div
                p 封头
                input(name='type' type="text" required="required")
            div
                p 数量
                input(name='number',type="text",required="required",onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)",onblur="this.v();")
            div
                p 价格
                input(name='price',type="text",required="required",onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)",onblur="this.v();")
            div
                p 进货时间
                input(name='time' type="date" placeholder="xxxx-xx-xx" required="required")
            div
                input(type="submit" value='保存')
    a(href="/") 返回首页   